<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cancel Appointment</title>
    <!DOCTYPE html>
<html lang="en">
<head>
        <link rel="icon" href="static/img/icon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Appoint Doctor</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body bgcolor="white">
    {% block body %}
<header>
    <nav>
            <h1><a href="index" style="text-decoration: none; color: white; cursor: pointer;">Dactor</a></h1>
        <ul>
                <li>
                        <a href="logout_view" class="options" style="font-family: 'Poppins', sans-serif;"><i class="fa fa-sign-out"></i>&nbspLogout</a>
                </li>
            <li><a class="options" data-target="#dtmodal" data-toggle="modal"> <i class="fa fa-envelope-open fa-1x"></i>&nbsp Write to us.</a> </li>
            <li><a class="options dl" data-target="#dlmodal" data-toggle="modal"><i class="fa fa-phone fa-1x"></i>&nbsp Contact Us</a></li>

        </ul>
    </nav>
</header>
<div class="container">
    <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="appt-table" style="margin-top: 20px">
                        
                <table class="table"  style="text-align:left">
                    <thead class="thead-dark" style="color: white; background-color: #272727;">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Patient Name</th>
                        
                        <th scope="col">Date</th>

                        
                        <th scope="col"><i class="fa fa-clock-o"></i>&nbspTime</th>
                    
                    </tr>
                    </thead>
                       {% for i in Drs %}
                        <tr>
                          <th scope="row" >#</th>
                          <td>{{i.Patient_name}}</td>
                          <td>{{i.Appt_Date}}</td>
                          <td>{{i.Dr_timeings}}</td>
        
                      </tr>
                        {% endfor %}
                       
                    
                </table>
               </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
        
        
    </div>
    {% endblock %}

<!--Write us modal by  Doctor -->
<div class="modal fade" id="dtmodal"  style="transition: all .5s">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="height: 90px">
                    <h3 class="text-center text-primary">Write to us.
                    <button type="button" class="close " data-dismiss="modal">&times;</button>
                    </h3>

                </div>
                <form>
                <div class="modal-body">

                        <div class="form-group">
                            <label style="font-family: Gabriola; font-size: 20px">
                               <i class="fa fa-user-o"></i>Dr Name
                            </label>
                            <input type="text" class="" style=" border: none; border-bottom: 1px solid dimgrey; width: 100%">
                        </div>
                        <div class="form-group">
                            <label style="font-family: Gabriola; font-size: 20px">
                                <i class="fa fa-envelope-o"></i>Email
                            </label>
                            <input type="text" class="" style="border: none; border-bottom: 1px solid dimgrey; width: 100%">
                        </div>
                        <div class="form-group">
                            <label style="font-family: Gabriola; font-size: 20px">
                                <i class="fa fa-pencil"></i>Describe your Query.
                            </label>
                            <textarea class="form-control" style="height: 150px" placeholder="write something..."></textarea>
                        </div>


                </div>
                <div class="modal-footer" style="text-align: center">
                    <button class="btn btn-success" data-dismiss="modal" style="width: 150px">submit
                    </button>
                </div>
                     </form>
            </div>
        </div>
    </div>
<!-- contact us Modal -->
<div class="modal fade" id="dlmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="height: 90px">
                    <h3 class="text-center text-primary">Contact Us
                    <button type="button" class="close " data-dismiss="modal">&times;</button>
                    </h3>

                </div>
            <div class="modal-body">

                <table>
                    <tr>
                        <td><img src="static/img/phone.png" height="50" width="50"></td>
                        <td style="padding-left: 15px;">+91-9439017012</td>
                    </tr>
                    <tr>
                        <td><img src="static/img/map.png" height="50" width="50"></td>
                        <td style="padding-left: 15px;">Tulasichoura, Baripada, 757001, 4th floor, Octa Tower, Mayurbhanj, Odisha</td>
                    </tr>
                    <tr>
                            <td><img src="static/img/email.png" height="50" width="50"></td>
                            <td style="padding-left: 15px;">admin.dactor@gmail.com</td>
                    </tr>
                    
                </table>
                        
            </div>
        </div>
    </div>
</div>
</body>
</html>